body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #FFE066;
}
.styleTitle {
    font-family: 'Permanent Marker', cursive;
}
.titleUwU {
    font-size: 250%;
}
.loading {
    position: relative;
    border-radius: 50%;
}
.img-loading {
    border-radius: 50%;
}
.lobby {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.GameIDCard {
    background: #eb7a02;
    color: white;
}

.light {
    color: rgb(211, 210, 210);
}
.lobby-btn {
    background-color:#FF8200;
    border-color:#c26503;
}
.lobby-btn:focus {
    background-color:#e97902;
    border-color: #cf6b00;
    box-shadow:0 0 0 .2rem rgba(196, 135, 56, 0.5)
}
.lobby-btn.disabled,.btn-primary:disabled{
    background-color:#FF8200;border-color:#FF8200
}
.lobby-btn:not(:disabled):not(.disabled).active,.lobby-btn:not(:disabled):not(.disabled):active,.show>.lobby-btn.dropdown-toggle{
    background-color:#cf6b00;border-color:#81530f
}
.lobby-btn:hover {
    background-color:#e97902;
    border-color: #cf6b00;
}

.lobby  a {
    color: orange;
}

.input-group-text {
    background: #FF8200 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:#FF8200 !important;
}
